.title {
    font-size: 3vh;
    font-weight: 700;
}

.status {
    margin-left: 1vw;
    vertical-align: 0.3vh;
    font-weight: 400;
}

.Active {
    color: #FFF;
    background-color: #16C098;
    border: #16C098;
}

.Retired {
    color: #FFF;
    background-color: #FF3131;
    border: #FF3131;
}

.Pending {
    color: #FFF;
    background-color: #FB6D3A;
    border: #FB6D3A;
}

.hr {
    background-color: #3649F9;
    margin-bottom: 1vw;
}

.badge {
    margin: 0.4vw;
}